# Python class one

In [5]:
print("hello world", 11, 12, 3.5, True,sep=" ")

hello world 11 12 3.5 True

print is python built-in funation

In [10]:
print("Hello" ,end="\t")
print("world")

Hello	world

In [13]:
age = 23.7

print(age)

# age is verable
# 23.7 is a float value
# we can say 23.7 is assigned to age
# = is a assignment operator

23.7

In [29]:
name = "juanid"

In [16]:
age

23.7

In [17]:
id(age)

1495039563856

In [23]:
id(name)

1495039409008

In [24]:
type(age)

float

In [25]:
type(name)

str

In [32]:
name = "junaid"
print(name)

junaid

In [34]:
len(name)

6

In [35]:
marks = 50
marks + 49

99

In [36]:
marks + age

73.7

In [47]:
age = age + 1

In [48]:
age

32.7

In [45]:
age +=1

In [46]:
age

31.7

In [50]:
10/10

1

In [51]:
10//10

1

In [54]:
import math

In [55]:
math.floor(23.7)

23

In [56]:
math.ceil(23.7)

24

#  Variable names Legal and Illegal

In [61]:
name = input("enter your name please ")
print(name)

enter your name please Junaid
Junaid

In [63]:
name = input("enter your name please ")
age = input("enter your age please ")
print(name)
print(age)
print("my name is {0} and my age is {1}".format(name,age))

enter your name please Junaid
enter your age please 22
Junaid
22
my name is Junaid and my age is 22

In [64]:
first_name = "Juanid"
last_name = "Khalid"

In [65]:
first_name + " " + last_name

'Juanid Khalid'

# Type Casting

In [68]:
number_of_apples = '100'
number_of_apples = int(number_of_apples)

In [70]:
print(number_of_apples)

100

In [71]:
number_of_apples +=1

In [72]:
print(number_of_apples)

101